.post [contenteditable] {
    border: 3px dashed #ccc;
    outline: 0;
}

.post.card {
    width: calc(47% - 2em);
    display: inline-block;
    text-align: left;
    margin: 1em;
    /* padding: 1.25em; */
    box-shadow: -1px -1px 6px 0 rgba(0,0,0,.1);
    border-radius: .25rem;
    vertical-align: top;
}

 .post.card h3 {
    margin-bottom: .75em;
    font-size: 2em;
    margin-top: 10px;
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    padding: 1.25rem 1.75rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

 .post.card .meta {
    /* margin-bottom: .5rem!important; */
    /* margin-top: -.375em; */
    padding: 0 1.25em;
    padding: .75rem 1.75rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(133, 133, 133, 0.12);
    font-size: 1em;
}

 .post.card .description {
    padding: 1.25em;
    margin: 0;
}

 .post.card a {
    padding: 0 1.25em 1.25em 1.25em;
    display: block;
}

.card {
    background-color: #ffffff24;
}

@media (max-width: 576px) {
    .post.card {
        width: 97%;
        display: inline-block;
        text-align: left;
        margin: 1em;
        /* padding: 1.25em; */
        box-shadow: -1px -1px 6px 0 rgba(0,0,0,.1);
        border-radius: .25rem;
    }
}